
import java.io.Closeable;
import java.io.IOException;

public interface Provider extends Closeable {

  /**
   * Reads characters into an array
   * 
   * @param buffer
   * @param offset
   * @param length
   */
  public int read(char buffer[], int offset, int len) throws IOException;
}