  int                       jjrounds[${stateSetSize}];
  int                       jjstateSet[2 * ${stateSetSize}];
  JJString                  jjimage;
  JJString                  image;
  int                       jjimageLen;
  int                       lengthOfMatch;
  JJChar                    curChar;
  TokenManagerErrorHandler* errorHandler = nullptr;

public:
  void	 lexicalError();
  const  TokenManagerErrorHandler*	 getErrorHandler() const;